<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>index</title>
    <!--<title>{% block title %}Main page{% endblock %}</title>-->
</head>
<body>
backend "index" page, use separate frontend
<!--<div id="root"></div>-->
<!--{ % render_bundle "main" %}-->

<!--{% block content %}-->
<!--<form action="search">-->
<!--<input name="query" placeholder="Search"/>-->
<!--<input type="submit">-->
<!--</form>-->
<!--<h3>Search results: {{ images_list|length }}</h3>-->
<!--{% for image in images_list %}-->
<!--<img src="static/{{ image.title }}" alt="img" style="width: 200px;float:left"/>-->
<!--{% endfor %}-->
<!--{% endblock %}-->
</body>
</html>

